@charset "UTF-8";

/* ==================== 共通 ==================== */
html {
    font-family: 'Noto Sans JP', sans-serif;
    max-width: 100%;
}

body {
    margin: 0px;
}


* {
    margin: 0;
    padding: 0;
}

section {
    background-color: #000;
    color: #fff;
}

h1 {
    font-size: 70px;
}

.container {
    margin: 10px auto;
    width: 90vw;
    text-align: center;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

/* ==================== スクロール対応用 ==================== */
.fullPageScroll {
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.section {
    width: 100%;
    height: 100vh;
    padding-top: 6%;
    scroll-snap-align: start;
}

.pagination a {
    display: block;
    width: 12px;
    height: 12px;
    margin: 24px 0;
    border-radius: 50%;
    background-color: #fcfcfc;
    transition: transform 0.2s;
}

.pagination a.active {
    transform: scale(1.8);
}

/* ==================== top ==================== */
.section0 {
    background-image: url(./img/top_img.png);
    height: 100vh;
    background-position: center center;
    background-size:cover;
}

/*==================== about ==================== */
.section1 {
    background-color: #333;

}

.about-wrapper p {
    text-align: left;
}

.ex-title {
    font-weight: bold;
    font-size: 50px;
    border-bottom: solid white 2px;
}
.about-title{
  padding-bottom: 30px;
  text-align: left;
}
/* ==================== outline ==================== */
.section2 dl{
  text-align: center;
}
.section2 dt{
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 30px;
}
/section2 dd{
  padding
}
/* ==================== works ==================== */
.section3 {
    background-color: #333;
}
.container3{
  padding-top: 0;
}
/*ここからworksのリスト*/

.works-list {
    padding-top:0;
    margin-top: 0;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    text-align: center;
    padding-left: 35px;
}

.work {
    float: left;
    padding-right:20px;
    text-align: center;
    padding-top: 20px;
}

.open-btn {
    background-color: white;
    width: 160px;
    height: 160px;
    display：inline-block;
    border-radius: 50% 50%;
    cursor: pointer;
}

.open_btn img {
    width: 160px;
    height: 160px;
    border-radius: 50% 50%;
    cursor: pointer;
}

.open_btn:hover {
    opacity: 0.3;
    transition-duration: 1s;
}

.work-caption {
    margin-bottom: 30px;
    padding: 10px;
    color: white;

}

.work-title {
    font-size: 15px;
    text-align: left;

}
/*ここまでworksのリスト*/

/*以下ポップアップ*/
.popup-overlay {
    display: none;
    height: 100vh;
    width: 100%;
    background: black;
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
}
.active{
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-content {
  width:400px;
  height:400px;
  position: absolute;
  transform: translate(-50%,-50%);
  top:50%;
  left: 50%;
  margin: -300px 0 0 -250px;
  z-index:11;
  background-color: white;
}
.popup-content h2 {
  text-align: left;
  font-size: 20px;
  border-bottom: solid 2px #fff;
  color: #fff;
}
.popup-content p{
  color: #fff;
  padding:10px;
  font-size:18px;
  text-align: left;
}

.close_btn {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    padding-right:10px;
    padding-top: 5px;
}

/*ここまでポップアップ*/

/* ==================== staff ==================== */
.section5 {
    background-color: #333;
}

.staff__dl {
    text-align: left;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.staff__dl dt {
    font-size: 15px;
    width: 150px;
    text-align: center;
    border: solid 1px #fff;
    padding: 8px;
    display: block;
    float: left;
    clear: left;
    margin-bottom: 10px;
}

.staff__dl dd {
    width: 470px;
    display: block;
    float: left;
    margin-left: 80px;
    margin-top: 5px;
}

/* ==================== Archive ==================== */

.section7 {
    background-color: #333;
}
